body
{
    background-color: burlywood;
}

.burgerName
{
    background-color: white;
    padding: 8px 0;
}

.row
{
    margin-top: 8px;
    margin-bottom: 8px;
}

.row .col-12 img
{
    padding-top: 16px;
}

.devoured
{
    text-decoration: line-through;
}